@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #869bff;
}

.game-container, .round-results-container, .choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.round-results, .game-info, a.retro-btn, .win-lose {
    color: aqua;
}

.hidden {
    display: none;
}

.final-results {
    text-align: center;
    color: #fff;
}

.win-lose {
    font-size: 35px;
    text-align: left;
    line-height: 40px;
}

.big-score {
    font-size: 35px;
}

a.retro-btn {
    padding: 15px;
    border: 2px solid aqua;
    border-radius: 10px;
}

a.retro-btn:hover {
    background-color: aqua;
    color:#6e6cff;
}

.game-info, .round-results-container {
    min-height: 75px;
}

.info-container, .round-results-container {
    text-align: center;
}

.info-container {
    padding-top: 50px;
}

.circle-container {
    background-color: #6e6cff;
    border-radius: 100%;
    padding: 100px;
    height: 350px;
    width: 350px;
}

.choice, .circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

img.selection {
    max-height: 225px;
}

img.selection:hover {
    scale: 1.2;
    transition: 0.5s;
    transform: rotate(5deg);
}

.credits {
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 1px;
}
.credits a {
    color: #5250e9;
}